<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="../styles/profile.css">

  <!-- icons -->
  <script src="https://kit.fontawesome.com/386e64cde3.js" crossorigin="anonymous"></script>
    
</head>
<body>

  <!-- main section -->
  <section>
    <div class="main-container">
    <div class="main-text-container">
      <h3>SINIIAJA - IT Consultant</h3>
      <hr>
      <p>SINIIAJA adalah IT Consultant yang siap membantu Anda dalam pembuatan Website, Aplikasi Mobile, dan Desain UI/UX. Kami memiliki tim programmer dan desainer profesional yang berpengalaman dan ahli di bidangnya.</p>
      <p>Biarkan kami membantu Anda mewujudkan proyek digital Anda dengan solusi yang tepat dan hasil yang memuaskan. Hubungi SINIIAJA sekarang untuk memulai perjalanan transformasi digital Anda.</p>    
    </div>
    <div class="img-content">
      <img src="../assets/consultan.jpg" alt="Profile">
    </div>
  </div>
  </section>
  <!-- end main section -->

  <!-- our service section -->
   <section>
    <div class="service-container">
    <div class="service-text-container">
      <h3>our service</h3>
      </div>
      <div class="service-item-container">
        <div class="services">
          <h4>Website development</h4>
          <p>Menagani pembuatan aplikasi berbasis webs, company profile, dan lain-lain</p>
        </div>
        <div class="services">
          <h4>Mobile/Ios application development</h4>
          <p>menangani pembuatan aplikasi berbasis Mobile ataupun Ios</p>
        </div>
        <div class="services">
          <h4>UI/UX design</h4>
          <p>Menagani pembuatan desain web, mobile maupun wireframe</p>
        </div>
      </div>
    </div>
   </section>
  <!-- end of our service section -->

  <!-- Value section -->
  <section>
    <div class="value-container">
      <div class="value-text">
        <h3>our value</h3>
      </div>
      <div class="value">
        <i class="fa-solid fa-user-group"></i>
        <h4>Professional team</h4>
        <p>Memiliki team yang profesional dan berpengalaman</p>
      </div>
      <div class="value">
        <i class="fa-solid fa-thumbs-up"></i>
        <h4>Inovation</h4>
        <p>Inovasi pengembangan produk sesuai trend</p>
      </div>
      <div class="value">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <h4>Up To Date</h4>
        <p>Up To Date penggunaan teknologi terbaru</p>
      </div>
      <div class="value">
        <i class="fa-solid fa-rocket"></i>
        <h4>Fast</h4>
        <p>Proses pengembangan cepat dan tepat waktu</p>
      </div>
    </div>
  </section>
  <!-- end of value section -->
</body>
</html>
