<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="../styles/profile.css">

  <!-- google fonts -->
   
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


  <!-- icons -->
  <script src="https://kit.fontawesome.com/386e64cde3.js" crossorigin="anonymous"></script>    
</head>
<body>

    <!-- main section -->
    <section>
      <div class="main-container">
      <div class="main-text-container">
        <h1>SINIIAJA - IT Consultant</h1>
        <hr>
        <p>SINIIAJA adalah IT Consultant yang siap membantu Anda dalam pembuatan Website, Aplikasi Mobile, dan Desain UI/UX. Kami memiliki tim programmer dan desainer profesional yang berpengalaman dan ahli di bidangnya.</p>
        <p>Biarkan kami membantu Anda mewujudkan proyek digital Anda dengan solusi yang tepat dan hasil yang memuaskan. Hubungi SINIIAJA sekarang untuk memulai perjalanan transformasi digital Anda.</p>   
        <div class="button">
          <a class="cta-button" href="contactus.html">Hubungi Kami</a> 
        </div>
      </div>
      <div class="img-content">
        <img src="../assets/consultan.jpg" alt="Profile">
      </div>
    </div>
    </section>
    <!-- end main section -->

    <!-- visi misi section -->
    <section>
      <div class="visi-misi-container">
          <div class="visi-misi-image-container">
              <img src="../assets/visi-misi.png" alt="Visi Misi">
          </div>
          <div class="visi-misi-text-container">
              <h2>Our Vision & Mission</h2>
              <h3>Vision</h3>
              <p>To be a leader in innovative IT solutions, empowering businesses to achieve digital excellence and sustainability.</p>
              <h3>Mission</h3>
              <ul>
                  <li>Provide top-notch consulting services that align with clients strategic goals.</li>
                  <li>Leverage cutting-edge technology to deliver customized solutions.</li>
                  <li>Foster a culture of continuous improvement and collaboration.</li>
                  <li>Ensure client satisfaction through commitment and integrity.</li>
              </ul>
          </div>
      </div>
  </section>   
  <!-- end of visi misi section -->

  <!-- Value section -->
  <section>
    <div class="value-container">
      <div class="text-content">
        <h2>Our Values</h2>
        <p>
          PT. SINIIAJA Indonesia develops technology in line with evolving trends through continuous research and development, focusing on enhancing our products and services.
        </p>
      </div>
        <div class="values-items-container">
      <div class="values-item">
        <i class="fa-solid fa-user-group"></i>
        <h4>Professional team</h4>
        <p>Having a professional and experienced team</p>
      </div>
      <div class="values-item">
        <i class="fa-solid fa-thumbs-up"></i>
        <h4>Innovation</h4>
        <p>Innovation in product development aligned with trends</p>
      </div>
      <div class="values-item">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <h4>Up To Date</h4>
        <p>Up-to-date with lastest technology usage</p>
      </div>
      <div class="values-item">
        <i class="fa-solid fa-rocket"></i>
        <h4>Fast</h4>
        <p>Fast and timely development process</p>
      </div>
    </div>
    </div>
  </section>
  
  <!-- end of value section -->
</body>
</html>
