<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/services.css">
</head>
<body>
    <div class="services-container">
        <div class="services-desc">
            <h2>OUR SERVICES</h2>
            <p>We deliver innovative software solutions and strategic cloud implementations.</p>
        </div>
        <div class="services" id="services">
            <a href="/views/services/uiux/uiux.html">
                <div class="service" id="eai">
                    <img src="../assets/UIUX.jpg" alt="">
                    <div class="bg"></div>
                    <div class="content">
                        <h3>UI/UX Development</h3>
                        <p>Our UI UX development service helps you create visually appealing and user-friendly interfaces for your software applications.</p>
                    </div>
                </div>
            </a>
            <div class="service" id="uiux">
                <img src="../assets/EAI.jpg" alt="">
                <div class="bg"></div>
                <div class="content">
                    <h3>Enterprise Application Integration (EAI)</h3>
                    <p>We integrate your existing software systems to streamline data flow and improve operational efficiency.</p>
                </div>
            </div>
            <div class="service" id="api">
                <img src="../assets/API-DEV.jpg" alt="">
                <div class="bg"></div>
                <div class="content">
                    <h3>API Development & Integration</h3>
                    <p>We create robust APIs to enable seamless data exchange between your existing systems and new applications.</p>
                </div>
            </div>
            <div class="service" id="webmob">
                <img src="../assets/MOB-DEV.jpg" alt="">
                <div class="bg"></div>
                <div class="content">
                    <h3>Web & Mobile Application Development</h3>
                    <p>We build user-friendly web applications and mobile apps to meet your specific business needs, optimized for various platforms (iOS, Android).</p>
                </div>
            </div>
            <div class="service" id="cloud">
                <img src="../assets/CLOUD-MIG.jpg" alt="">
                <div class="bg"></div>
                <div class="content">
                    <h3>Cloud Strategy & Migration</h3>
                    <p>We help you craft a comprehensive cloud strategy aligned with your business objectives and then guide you through the migration process to the cloud platform of your choice.</p>
                </div>
            </div>
            <div class="service" id="cloudplat">
                <img src="../assets/CLOUD.png" alt="">
                <div class="bg"></div>
                <div class="content">
                    <h3>Cloud Platform Selection & Implementation</h3>
                    <p>We manage your cloud infrastructure on an ongoing basis, optimizing performance and security.</p>
                </div>
            </div>
            <div class="service" id="cloudnat">
                <img src="../assets/CLOUD-NATIVE.png" alt="">
                <div class="bg"></div>
                <div class="content">
                    <h3>Cloud-Native Application Development</h3>
                    <p>We design and develop applications specifically for the cloud environment, leveraging the scalability and elasticity of cloud resources.</p>
                </div>
            </div>
            <div class="service" id="cicd">
                <img src="../assets/CICD.webp" alt="">
                <div class="bg"></div>                
                <div class="content">
                    <h3>DevOps & CI/CD</h3>
                    <p>Streamline your software development, enhancing efficiency and reducing time-to-market. By integrating development and operations teams, we foster collaboration for rapid, high-quality software delivery.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clients-container">
        <h2>TRUSTED BY</h2>
        <div class="clients">
            <img src="../assets/logo/airbnb_optimized.png" alt="Airbnb logo">
            <img src="../assets/logo/dropbox_optimized.png" alt="Dropbox logo">
            <img src="../assets/logo/goto_optimized.png" alt="Goto logo">
            <img src="../assets/logo/grab_optimized.png" alt="Grab logo">
            <img src="../assets/logo/reddit_optimized.png" alt="Reddit logo">
            <img src="../assets/logo/stripe_optimized.png" alt="Stripe">
        </div>
    </div>

    <script>
        // const servicesDiv = document.getElementById("services")

        // services.forEach(service => {
        //     const div = document.createElement("div")
        //     div.classList.add("service")
        //     div.id = service.id
        //     div.innerHTML = `
        //         <img src="${service.src}" alt="">
        //         <div class="bg"></div>
        //         <div class="content">
        //             <h3>${service.title}</h3>
        //             <p>${service.desc}</p>
        //         </div>
        //     `
        //     servicesDiv.appendChild(div)
        // })

    </script>
</body>
</html>