:root {
  --primary-color: #222831;
  --secondary-color: #393E46;
  --accent-color: #00ADB5;
  --neutral-color: #EEEEEE;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* start of main css */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--neutral-color);
  padding-left: 20px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main-text-container h1 {
  color: var(--primary-color);
  font-size: 33px;
}

.main-text-container hr {
  border: none;
  height: 1px;
  background-color: var(--primary-color);
  margin: 20px 0;
}

.main-container > .img-content {
  justify-content: center;
  margin-left: 30px;
  padding-top: 20px;
}

.main-container .img-content > img {
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  border-radius: 15px;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button{
  padding-top: 20px;
}

.cta-button{
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;  
  text-decoration: none;
  border-radius: 15px;
  }
/* end of main css */

/* start of visi misi section css */
.visi-misi-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 20px;
  padding: 20px;
}

.visi-misi-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 1400px;
}


.visi-misi-image-container > img{
  width: 100%;
  height: 100%;
}

.visi-misi-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 90px;
}

.visi-misi-text-container h2{
  font-size: 40px;
  font-weight: 700;
}

.visi-misi-text-container p{
  font-size: 20px;
  padding-left: 20px;
}

.visi-misi-text-container h3{
  font-size: 25px;
  text-align: start;
}

.visi-misi-container ul li{
font-size: 20px;
padding-left: 20px;
size: 15px;
}


/* end of visi misi section css */

/* Our Value css */
.value-container{
background-color: var(--neutral-color);
display: flex;
flex-direction: row;
height: 100vh;
justify-content: space-between;
align-items: center;
padding: 20px;
}

.text-content {
  max-width: 40%;
  padding: 20px ;
}

.text-content h2{
  font-size: 48px;
  margin-bottom: 1.1em;
}

.text-content p{
  font-size: 20px;
}

.values-items-container{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
max-width: 50%;
}

.values-item{
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
text-align: center;
}

.values-item  i{
font-size: 30px;
color: var(--accent-color);
margin-bottom: 10px;
}

.values-item  h4{
margin: 10px 0;
}

.values-item p {
color: #666;
}


/* End of Our Value css */
