:root {
  --primary-color: #222831;
  --secondary-color: #393E46;
  --accent-color: #00ADB5;
  --neutral-color: #EEEEEE;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* start of main css */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--neutral-color);
  padding-left: 20px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main-text-container h1 {
  color: var(--primary-color);
  font-size: 33px;
}

.main-text-container hr {
  border: none;
  height: 1px;
  background-color: var(--primary-color);
  margin: 20px 0;
}

.main-container > .img-content {
  justify-content: center;
  margin-left: 30px;
  padding-top: 20px;
}

.main-container .img-content > img {
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  border-radius: 15px;
  max-height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cta-button{
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;  
  text-decoration: none;
  border-radius: 15px;
  }
/* end of main css */

/* start of service section css */
.service-container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  height: 100vh;
  padding: 20px;

}
.service-text-container {
  text-align: center;
  font-size: 30px;
  color: var(--neutral-color);
}

.service-item-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  gap: 30px;
 
}

.services {
  padding: 5px;
  height: 100%;
  width: 60%;
  background-color: var(--neutral-color);
  text-align: center;
  border-radius: 15px;
}

/* end of service section css */

/* Our Value css */

.value-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--neutral-color);
  padding: 20px;
  gap: 15px;
  justify-content: space-around;
  
}

.value-text h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.value-container .value {
  border-radius: 15px;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.value {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.value i {
  padding-top: 20px;
  font-size: 2em;
  color: var(--accent-color);
}

.value h4,p {
  font-size: 23px;
}
/* End of Our Value css */
